@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body,
html {
  font-size: 0.0520833333vw;
}

.h-scroll {
  height: 800vh;
  /* регулируешь длину "участка" */
  position: relative;
}

.h-scroll__sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.h-scroll__content {
  display: flex;
  height: 100%;
  width: max-content;
}

.item {
  height: 100%;
  flex-shrink: 0;
  font-size: 60rem;
  position: relative;
}

.item .bg {
  height: 100vh;
}
.item.center-text .item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item.left-text .item-text {
  position: absolute;
  top: 50%;
  left: 30rem;
  transform: translateY(-50%);
}
.item .dop-img {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.btm {
  height: 50vh;
  background: red;
}

.container {
  width: 1840rem;
  margin: auto;
}

header {
  padding: 20rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9;
  isolation: isolate;
  background: transparent;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}
header .logo {
  height: 42rem;
}
header .text {
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: #0c0c0c;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 32rem;
  letter-spacing: -0.08em;
}
header .text span {
  font-family: "Cormorant", sans-serif;
  font-size: 40rem;
  letter-spacing: -0.04em;
}
header .header-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15rem;
  width: 65rem;
}
header .header-menu span {
  width: 100%;
  height: 5rem;
  background: black;
}

.item-1 {
  background: #EDE3DA;
  position: relative;
  height: 100vh;
  width: 100vw;
}
.item-1 .bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.item-1 .text {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  letter-spacing: -0.08em;
  color: #d9d9d9;
  position: absolute;
  bottom: 80rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.item-text {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  letter-spacing: -0.08em;
  color: #0c0c0c;
}

.item-2 {
  position: relative;
  height: 100vh;
  display: flex;
}
.item-2 .text {
  position: absolute;
  top: 50%;
  left: 44rem;
  transform: translateY(-50%);
}
.item-2 img {
  height: 100vh;
}

.item-3 {
  position: relative;
}
.item-3 .bg {
  height: 100vh;
}
.item-3 .item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  z-index: 11;
}
.menu.active {
  opacity: 1;
  visibility: visible;
  z-index: 12;
}
.menu.footer {
  position: relative;
  opacity: 1;
  visibility: visible;
}
.menu .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu .container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 77rem;
  padding-top: 290rem;
}
.menu .menu-list {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15rem;
  min-width: 40%;
}
.menu .menu-list:nth-child(even) {
  align-items: flex-end;
}
.menu .menu-list a,
.menu .menu-list p {
  width: 290rem;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  line-height: 155%;
  letter-spacing: -0.08em;
  color: #ede3da;
  transition: all 0.4s ease;
}
.menu .menu-list a:hover {
  color: #b87951;
}

.hero {
  position: relative;
  min-height: 90vh;
}
.hero .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.hero .dop-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.hero .container {
  position: relative;
  z-index: 2;
  padding-top: 420rem;
}
.hero .heading {
  font-family: "Cormorant", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 96rem;
  letter-spacing: -0.08em;
  color: #ede3da;
  margin-bottom: 15rem;
}
.hero .list {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.hero .list .item {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  line-height: 155%;
  letter-spacing: -0.08em;
  color: #ede3da;
}
.hero .description {
  font-family: "Cormorant", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 40rem;
  letter-spacing: -0.04em;
  color: #d9d9d9;
  margin-top: 50rem;
}

.text-block {
  background: #ede3da;
}
.text-block:nth-child(2) {
  padding-top: 40px;
}
.text-block:nth-child(odd) .container {
  flex-flow: row-reverse;
}
.text-block .container {
  display: flex;
  gap: 20rem;
}
.text-block .text-l {
  padding-top: 30rem;
  padding-bottom: 30rem;
  flex: 1;
}
.text-block .text-l .heading {
  font-family: "Cormorant", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 96rem;
  letter-spacing: -0.08em;
  color: #0c0c0c;
  margin-bottom: 20rem;
}
.text-block .text-l .item {
  height: fit-content;
  margin-top: 30rem;
}
.text-block .text-l .item .item_heading {
  display: flex;
  align-items: center;
  gap: 25rem;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  letter-spacing: -0.08em;
  color: #0c0c0c;
}
.text-block .text-l .item .item_heading::before {
  content: "";
  display: block;
  width: 35rem;
  height: 35rem;
  background: black;
}
.text-block .text-l .item .item_list {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  margin-top: 30rem;
}
.text-block .text-l .item .item_list_item {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  line-height: 155%;
  letter-spacing: -0.08em;
  color: #0c0c0c;
}
.text-block .text-r {
  flex: 1;
  object-fit: cover;
  max-width: 910rem;
}

.more-deal {
  background: #ede3da;
  padding-top: 40rem;
  padding-bottom: 130rem;
}
.more-deal .heading {
  font-family: "Cormorant", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 96px;
  letter-spacing: -0.08em;
  color: #0c0c0c;
  margin-bottom: 70rem;
}
.more-deal .wrapper {
  display: flex;
  flex-direction: column;
  gap: 25rem;
}
.more-deal .more-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #0c0c0c;
  padding: 15px 0px;
  align-items: center;
}
.more-deal .more-item .more-item_l {
  display: flex;
}
.more-deal .more-item .cube {
  width: 58rem;
  height: 58rem;
  margin-right: 15rem;
  background: black;
}
.more-deal .more-item .name,
.more-deal .more-item .text,
.more-deal .more-item .link {
  font-family: "Cormorant", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: -0.04em;
  color: #0c0c0c;
}

.keyses {
  position: relative;
  padding-bottom: 50rem;
  background: #ede3da;
}
.keyses.deal .text {
  text-align: left;
}
.keyses .container {
  position: relative;
  padding: 180rem 320rem;
  z-index: 2;
}
.keyses .text {
  font-family: "Cormorant", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 96px;
  letter-spacing: -0.08em;
  color: #0c0c0c;
  position: relative;
  z-index: 2;
  text-align: right;
  width: 100%;
  display: block;
}
.keyses .bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
