@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Unbounded:wght@200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body,
html {
  font-size: 0.0520833333vw;
}
body.no-scroll,
html.no-scroll {
  overflow: hidden;
}

.h-scroll {
  height: 800vh;
  /* регулируешь длину "участка" */
  position: relative;
}

.h-scroll__sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.h-scroll__content {
  display: flex;
  height: 100%;
  width: max-content;
}

.btm {
  height: 50vh;
  background: red;
}

.container {
  width: 1840rem;
  margin: auto;
}

header {
  padding: 20rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9;
  isolation: isolate;
  background: transparent;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}
header .logo {
  height: 22rem;
}
header .text {
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: #0c0c0c;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 32rem;
  letter-spacing: -0.08em;
}
header .text span {
  font-family: "Inter Tight", sans-serif;
  font-size: 40rem;
  letter-spacing: -0.04em;
}
header .header-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15rem;
  width: 65rem;
}
header .header-menu span {
  width: 100%;
  height: 5rem;
  background: #737373;
}

.item-1 {
  background: #EDE3DA;
  position: relative;
  height: 100vh;
  width: 100vw;
}
.item-1 .bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.item-1 .text {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  letter-spacing: -0.08em;
  color: #d9d9d9;
  position: absolute;
  bottom: 80rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.item-text {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  letter-spacing: -0.08em;
  color: #0c0c0c;
}

.item-2 {
  position: relative;
  height: 100vh;
  display: flex;
}
.item-2 .text {
  position: absolute;
  top: 50%;
  left: 44rem;
  transform: translateY(-50%);
}
.item-2 img {
  height: 100vh;
}

.item-3 {
  position: relative;
}
.item-3 .bg {
  height: 100vh;
}
.item-3 .item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.hero {
  position: relative;
  min-height: 90vh;
  padding-bottom: 100rem;
}
@media (max-width: 1024px) {
  .hero {
    min-height: 30vh;
  }
}
.hero .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.hero .dop-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.hero .container {
  position: relative;
  z-index: 2;
  padding-top: 420rem;
}
.hero .heading {
  font-family: "Inter Tight", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 96rem;
  letter-spacing: -0.08em;
  color: #ede3da;
  margin-bottom: 15rem;
}
.hero .list {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.hero .list .item {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  line-height: 155%;
  letter-spacing: -0.08em;
  color: #ede3da;
}
.hero .description {
  font-family: "Inter Tight", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 40rem;
  letter-spacing: -0.04em;
  color: #d9d9d9;
  margin-top: 50rem;
}

.text-block {
  background: white;
}
.text-block.reverce .container {
  flex-flow: row-reverse;
}
.text-block.reverce .text-l {
  padding-right: 0rem;
  padding-left: 20rem;
}
@media (max-width: 1024px) {
  .text-block .container {
    display: flex;
    flex-direction: column;
    flex-flow: column !important;
  }
  .text-block .container .ltext-l,
  .text-block .container .text-r {
    width: 100%;
    max-width: 100%;
    flex: 1;
  }
}
.text-block .container {
  display: flex;
}
.text-block .text-l {
  padding-top: 30rem;
  padding-bottom: 30rem;
  flex: 1;
  max-width: 50%;
  padding-right: 20rem;
}
.text-block .text-l .heading {
  margin-bottom: 10rem;
  font-family: "Unbounded";
  font-weight: 400;
  font-size: 48rem;
  line-height: 135%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #131313;
}
.text-block .text-l .item {
  height: fit-content;
  margin-top: 30rem;
}
.text-block .text-l .item .item_heading {
  display: flex;
  align-items: center;
  gap: 25rem;
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  color: #0c0c0c;
}
.text-block .text-l .item .item_heading::before {
  content: "";
  display: block;
  width: 35rem;
  height: 35rem;
  background: black;
}
.text-block .text-l .item .item_list {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  margin-top: 30rem;
}
.text-block .text-l .item .item_list_item {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  line-height: 155%;
  letter-spacing: -0.08em;
  color: #0c0c0c;
}
.text-block .text-r {
  flex: 1;
  max-width: 50%;
  object-fit: cover;
}

.more-deal {
  padding-top: 40rem;
  padding-bottom: 130rem;
}
.more-deal .heading {
  font-family: "Unbounded";
  font-weight: 400;
  font-size: 48rem;
  line-height: 135%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 70rem;
}
.more-deal .wrapper {
  display: flex;
  flex-direction: column;
  gap: 25rem;
}
.more-deal .more-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1rem solid #0c0c0c;
  padding: 15rem 0rem;
  align-items: center;
}
.more-deal .more-item .more-item_l {
  display: flex;
  align-items: center;
}
.more-deal .more-item .cube {
  width: 58rem;
  height: 58rem;
  margin-right: 15rem;
  background: black;
}
.more-deal .more-item .name,
.more-deal .more-item .text,
.more-deal .more-item .link {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 20rem;
  line-height: 130%;
  color: #131313;
}
.more-deal .more-item .text,
.more-deal .more-item .link {
  font-size: 16rem;
}
.more-deal .more-item .text,
.more-deal .more-item .linl {
  font-weight: 400;
  font-size: 16rem;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #131313;
}

.keyses {
  position: relative;
  padding-bottom: 50rem;
}
.keyses.deal .text {
  text-align: left;
}
.keyses .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 180rem 320rem;
  z-index: 2;
}
.keyses .text {
  font-family: "Unbounded";
  position: relative;
  z-index: 2;
  text-align: right;
  width: 100%;
  display: block;
  width: fit-content;
  color: white;
  padding: 0 10rem;
  font-weight: 400;
  font-size: 48rem;
  line-height: 135%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
}
.keyses .bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.block {
  background: #131313;
  min-width: 100vw;
  position: relative;
  overflow: hidden;
}
.block .icon {
  position: absolute;
  top: 23rem;
  left: 0;
}
.block.white {
  background: white;
}
.block.white .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block.white .container {
  width: calc(100vw - 120rem);
}
.block.white .heading {
  color: #131313;
  width: 100%;
  text-align: center;
}
.block.white .list {
  width: 400rem;
}
.block.white .list .list-item * {
  color: #131313;
}
.block.white .list .list-item:hover *, .block.white .list .list-item.active * {
  color: #0429FF;
}
.block.white .regular-btn {
  color: #0429FF;
  width: 400rem;
}
.block.white .regular-btn:hover {
  color: #0429FF;
}
.block.white .background {
  display: none;
}
.block .img-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  align-items: center;
  gap: 46rem;
  max-width: 100%;
  margin-top: 130rem;
}
.block .img-wrapper * {
  width: 100%;
}
.block .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 210rem;
  position: relative;
  z-index: 2;
  margin: 0 60rem;
  width: fit-content;
}
.block .info {
  width: fit-content;
}
.block .heading {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 48rem;
  line-height: 135%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: white;
  width: fit-content;
}
.block .list {
  margin-top: 50rem;
  display: flex;
  flex-direction: column;
  gap: 15rem;
  width: fit-content;
}
.block .list .list-item {
  width: fit-content;
}
.block .list .list-item * {
  font-family: "JetBrains Mono", sans-serif;
  width: fit-content;
  font-weight: 500;
  font-size: 20rem;
  line-height: 140%;
  color: white;
  display: flex;
  gap: 5rem;
  transition: all 0.2s ease;
}
.block .list .list-item span {
  opacity: 0;
  transform: translateX(-15rem);
  transition: all 0.2s ease;
}
.block .list .list-item.active * {
  color: #d6e129;
}
.block .list .list-item:hover span {
  transform: translateX(0);
  opacity: 1;
}
.block .list .list-item:hover * {
  color: #d6e129;
}
.block .telegram-btn {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 20rem;
  line-height: 130%;
  text-transform: uppercase;
  color: #131313;
  padding: 15rem 25rem;
  border-radius: 5rem;
  background-color: white;
  width: fit-content;
  margin-top: 60rem;
}
.block .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
.block .background .video-block {
  width: 970rem;
  height: 100vh;
  position: absolute;
  right: 0;
  overflow: hidden;
}
.block .background .video-block.disable video {
  display: block;
}
.block .background .video-block.disable img {
  display: none;
}
.block .background .video-block video {
  display: none;
}
.block .background .video-block img {
  z-index: 2;
}
.block .background video,
.block .background img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}
.block .regular-btn {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 20rem;
  line-height: 140%;
  color: white;
  display: flex;
  gap: 10rem;
  margin-top: 25rem;
  transition: all 0.2s ease;
  color: #D6E129;
}
.block .regular-btn span {
  opacity: 0;
  transform: translateX(-15rem);
  transition: all 0.2s ease;
}
.block .regular-btn:hover span {
  transform: translateX(0);
  opacity: 1;
}
.block .regular-btn:hover {
  color: #d6e129;
}
.block .description {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 20rem;
  color: white;
  font-style: italic;
  font-weight: 300;
  line-height: 130%;
  margin-top: 50rem;
  max-width: 775rem;
}
.block .description span {
  font-weight: 500;
  line-height: 140%;
}

footer .logo {
  display: none;
}
footer {
  background: #131313;
  padding-top: 40rem;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}
footer a {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 20rem;
  line-height: 140%;
  color: white;
  transition: all 0.4s ease;
}
footer a:hover {
  color: #d6e129;
}
footer a.tg {
  font-weight: 400;
  font-size: 32rem;
  line-height: 130%;
  margin-top: 200rem;
  color: #d6e129;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .footer-l {
  display: flex;
  gap: 160rem;
}
footer .footer-l .item:first-child li:last-child a {
  color: #9eff00;
}
footer .footer-r .item {
  display: flex;
  flex-direction: column;
  gap: 165rem;
}
footer .container:first-child {
  display: flex;
  justify-content: space-between;
}
footer .bg {
  width: 100%;
  margin-top: 60rem;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background: #131313;
  z-index: 11;
  padding: 140rem 130rem 0;
  transform: translateX(100%);
  transition: all 0.4s ease;
}
.menu.active {
  transform: translateX(0);
}
.menu .menu-close {
  position: absolute;
  top: 20rem;
  right: 30rem;
  justify-content: flex-end;
}
.menu .menu-close svg {
  width: 75rem;
  height: 75rem;
}
.menu .logo {
  height: 20rem;
  position: relative;
}
.menu .logo img {
  height: 100%;
}
.menu .item {
  margin-top: 80rem;
  display: flex;
  flex-direction: column;
  gap: 40rem;
}
.menu ul {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}
.menu li a {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 20rem;
  line-height: 140%;
  color: white;
}
.menu .telegram-btn {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 20rem;
  line-height: 130%;
  text-transform: uppercase;
  color: #131313;
  border-radius: 5rem;
  padding: 15rem 25rem;
  background: #d6e129;
  width: fit-content;
  margin-top: 40rem;
}

.img-block .mob {
  display: none;
}
.img-block .desk {
  display: block;
}
.img-block img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.keyses-page .hero {
  min-height: auto;
}
.keyses-page .hero .container {
  padding-top: 130rem;
}
.keyses-page .hero .container .heading {
  font-family: "Unbounded";
  font-weight: 400;
  font-size: 48rem;
  line-height: 135%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #131313;
}

.blog-heading {
  padding-top: 130rem;
}
.blog-heading .heading {
  font-family: "Unbounded";
  font-weight: 400;
  font-size: 48rem;
  line-height: 135%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 60rem;
}
.blog-heading .logo {
  display: none;
}
.blog-heading .categories-wrapper {
  display: flex;
  gap: 16rem 25rem;
  flex-wrap: wrap;
  width: 100%;
}
.blog-heading .categories-wrapper .item {
  border-radius: 10rem;
  padding: 10rem;
  background: #f7f7f7;
  font-family: "JetBrains Mono";
  font-weight: 400;
  font-size: 16rem;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #1a1f26;
}

.blog-text {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 22rem;
  line-height: 130%;
  color: #131313;
  margin-bottom: 150rem;
}
.blog-text .container {
  padding: 0 300rem;
}
.blog-text .container * {
  margin-bottom: 15rem;
  max-width: 100%;
}
.blog-text .container h2 {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  line-height: 130%;
  color: #131313;
}

.keyses-page .hero {
  display: none;
}

@media (max-width: 1024px) {
  .keyses-page .hero {
    display: block;
  }
  .desk {
    display: none;
  }
  body,
  html {
    font-size: 0.2666666667vw;
  }
  .container {
    width: calc(100vw - 50rem);
    margin: 0 25rem;
  }
  header .logo {
    height: 14rem;
  }
  header .header-menu {
    width: 43rem;
    gap: 7rem;
  }
  header .header-menu span {
    height: 3rem;
  }
  .h-scroll__sticky {
    position: relative;
    height: auto;
  }
  .h-scroll__content {
    display: block;
  }
  .h-scroll {
    height: auto;
  }
  .block:nth-child(odd) {
    background: #131313 !important;
  }
  .block:nth-child(odd) * {
    color: #f7f7f7 !important;
  }
  .block:nth-child(even) {
    background: #f7f7f7 !important;
  }
  .block:nth-child(even) * {
    color: #131313 !important;
  }
  .block:first-child {
    padding-top: 100rem;
  }
  .block:first-child .icon {
    display: block;
    top: -80rem;
  }
  .block .icon {
    display: none;
  }
  .block .regular-btn {
    font-size: 20rem;
  }
  .block {
    display: flex;
    flex-direction: column-reverse;
  }
  .block.white .container {
    width: calc(100vw - 50rem);
    margin: 0 25rem;
  }
  .block.white .list,
  .block.white .regular-btn {
    width: 100%;
  }
  .block.white .background {
    display: block;
  }
  .block .container {
    width: calc(100vw - 50rem);
    margin: 0 25rem;
    padding-top: 20rem;
    padding-bottom: 30rem;
  }
  .block .heading {
    font-weight: 400;
    font-size: 28rem;
    line-height: 130%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #f7f7f7;
  }
  .block .list {
    gap: 10rem;
  }
  .block .list .list-item * {
    font-size: 16rem;
    line-height: 150%;
    letter-spacing: -0.02em;
  }
  .block .background {
    position: relative;
    height: auto;
    width: 100vw;
    padding: 25rem;
  }
  .block .background video,
  .block .background img {
    position: relative;
    height: auto;
    width: 100%;
  }
  .block .img-wrapper {
    display: none;
  }
  .block .description {
    font-size: 16rem;
  }
  footer {
    padding-bottom: 20rem;
  }
  footer .footer-l {
    flex-direction: column;
    gap: 40rem;
    margin-bottom: 40rem;
  }
  footer .container:first-child {
    gap: 40rem;
    flex-direction: column;
  }
  footer a {
    font-size: 16rem;
  }
  footer a.tg {
    margin-top: 40rem;
    display: block;
    font-size: 16rem;
  }
  footer .logo {
    width: 100%;
    margin-bottom: 40rem;
  }
  footer .footer-r .item {
    gap: 40rem;
  }
  footer .bg {
    display: none;
  }
  .menu {
    height: 100vh;
    overflow-y: scroll;
    padding: 50rem 30rem 30rem;
  }
  .menu ul {
    gap: 24rem;
  }
  .menu .logo {
    height: 14rem;
  }
  .menu .menu-close svg {
    width: 45rem;
    height: 45rem;
  }
  .text-block .text-l {
    max-width: 100%;
  }
  .text-block .text-l .heading {
    font-size: 22rem;
    line-height: 130%;
  }
  .text-block .text-l .item .item_heading {
    font-size: 20rem;
    line-height: 140%;
  }
  .text-block .text-l .item .item_heading::before {
    width: 18rem;
    height: 18rem;
  }
  .more-deal {
    background-color: #131313;
  }
  .more-deal .heading {
    font-weight: 400;
    font-size: 32rem;
    line-height: 130%;
    color: white;
  }
  .more-deal .more-item {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1rem solid white;
  }
  .more-deal .more-item .name,
  .more-deal .more-item .text,
  .more-deal .more-item .link {
    color: white;
  }
  .more-deal .more-item .more-item_l {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16rem;
    margin-bottom: 16rem;
  }
  .keyses {
    padding: 0;
  }
  .keyses .container {
    width: 100%;
    margin: 0;
    padding: 220rem 0;
  }
  .keyses .text {
    font-size: 32rem;
  }
  .img-block .mob {
    display: flex;
    height: 450rem;
    width: 100%;
    overflow-x: scroll;
    gap: 15rem;
  }
  .img-block .desk {
    display: none;
  }
  .img-block img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }
  .keyses-page .hero {
    padding-bottom: 40rem;
    background: #131313;
  }
  .keyses-page .hero .logo {
    display: block;
    margin-bottom: 40rem;
  }
  .keyses-page .hero .container {
    padding-top: 50rem;
  }
  .keyses-page .hero .container .heading {
    color: white;
    font-size: 32rem;
    line-height: 130%;
  }
  footer .container {
    flex-direction: column;
  }
  .blog-heading {
    background: #131313;
  }
  .blog-heading .logo {
    display: block;
    margin-bottom: 40rem;
  }
  .blog-heading .heading {
    font-weight: 400;
    font-size: 32rem;
    line-height: 130%;
    text-transform: uppercase;
    color: white;
  }
  .blog-text {
    font-family: "Inter Tight";
    font-weight: 400;
    font-size: 16rem;
    line-height: 130%;
    color: #131313;
    margin-bottom: 150rem;
  }
  .blog-text .container {
    padding: 0;
  }
  .blog-text .container * {
    margin-bottom: 15rem;
    max-width: 100%;
  }
  .more-deal .more-item .cube {
    width: 100%;
    height: auto;
  }
  .blog-text {
    display: none;
  }
  .keyses {
    padding-bottom: 20rem;
    background: #131313;
  }
  .keyses .text {
    text-align: center;
    font-size: 24rem;
  }
  .block .telegram-btn {
    color: #131313 !important;
  }
  .block.white .heading {
    text-align: left;
  }
  .text-block .text-l {
    padding-top: 25rem;
    padding-left: 0rem !important;
  }
  .text-block .text-l .item {
    margin-top: 25rem;
  }
  .text-block .text-l .heading {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
