@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Unbounded:wght@200..900&display=swap');

$font-family: "JetBrains Mono", sans-serif;
$second-family: "Inter Tight", sans-serif;
$third-family: "Unbounded", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body,
html {
  font-size: calc(100vw / 1920);

  &.no-scroll {
    overflow: hidden;
  }
}

.h-scroll {
  height: 800vh;
  /* регулируешь длину "участка" */
  position: relative;
}

.h-scroll__sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.h-scroll__content {
  display: flex;
  height: 100%;
  width: max-content;
}


.btm {
  height: 50vh;
  background: red;
}


.container {
  width: 1840rem;
  margin: auto
}

header {
  padding: 20rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9;

  isolation: isolate;

  background: transparent;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: transparent;
  }

  .logo {
    height: 22rem;
  }

  .text {
    font-style: italic;
    font-weight: 400;
    text-align: center;
    color: #0c0c0c;
    font-family: $font-family;
    font-size: 32rem;
    letter-spacing: -0.08em;


    span {
      font-family: $second-family;
      font-size: 40rem;
      letter-spacing: -0.04em;
    }
  }

  .header-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15rem;
    width: 65rem;

    span {
      width: 100%;
      height: 5rem;
      background: #737373;
    }
  }
}

.item-1 {
  background: #EDE3DA;
  position: relative;
  height: 100vh;
  width: 100vw;

  .bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 32rem;
    letter-spacing: -0.08em;
    color: #d9d9d9;
    position: absolute;
    bottom: 80rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

  }
}

.item-text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 32rem;
  letter-spacing: -0.08em;
  color: #0c0c0c;

}

.item-2 {
  position: relative;
  height: 100vh;
  display: flex;

  .text {
    position: absolute;
    top: 50%;
    left: 44rem;
    transform: translateY(-50%);
  }

  img {
    height: 100vh;
  }
}

.item-3 {
  position: relative;

  .bg {
    height: 100vh;
  }

  .item-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}


.hero {
  position: relative;
  min-height: 90vh;
  padding-bottom: 100rem;

  @media (max-width: 1024px) {
    min-height: 30vh;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .dop-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .container {
    position: relative;
    z-index: 2;
    padding-top: 420rem;
  }

  .heading {
    font-family: $second-family;
    font-style: italic;
    font-weight: 400;
    font-size: 96rem;
    letter-spacing: -0.08em;
    color: #ede3da;
    margin-bottom: 15rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 10rem;

    .item {
      font-family: $font-family;
      font-weight: 400;
      font-size: 16rem;
      line-height: 155%;
      letter-spacing: -0.08em;
      color: #ede3da;
    }
  }

  .description {
    font-family: $second-family;
    font-style: italic;
    font-weight: 400;
    font-size: 40rem;
    letter-spacing: -0.04em;
    color: #d9d9d9;
    margin-top: 50rem;
  }
}

.text-block {
  background: white;


  &:nth-child(2) {}

  &.reverce {
    .container {
      flex-flow: row-reverse;

    }

    .text-l {
      padding-right: 0rem;
      padding-left: 20rem;
    }

  }

  @media (max-width: 1024px) {
    .container {
      display: flex;
      flex-direction: column;
      flex-flow: column !important;

      .ltext-l,
      .text-r {
        width: 100%;
        max-width: 100%;
        flex: 1;
      }

    }

  }

  .container {
    display: flex;
  }

  .text-l {
    padding-top: 30rem;
    padding-bottom: 30rem;
    flex: 1;
    max-width: 50%;
    padding-right: 20rem;

    .heading {
      margin-bottom: 10rem;
      font-family: 'Unbounded';
      font-weight: 400;
      font-size: 48rem;
      line-height: 135%;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #131313;
    }

    .item {
      height: fit-content;
      margin-top: 30rem;

      .item_heading {
        display: flex;
        align-items: center;
        gap: 25rem;
        font-family: $second-family;
        font-weight: 400;
        font-size: 32rem;
        color: #0c0c0c;

        &::before {
          content: '';
          display: block;
          width: 35rem;
          height: 35rem;
          background: black;
        }

      }

      .item_list {
        display: flex;
        flex-direction: column;
        gap: 15rem;
        margin-top: 30rem;
      }

      .item_list_item {
        font-family: $font-family;
        font-weight: 400;
        font-size: 16rem;
        line-height: 155%;
        letter-spacing: -0.08em;
        color: #0c0c0c;
      }

    }
  }

  .text-r {
    flex: 1;
    max-width: 50%;

    object-fit: cover;
  }
}

.more-deal {
  padding-top: 40rem;
  padding-bottom: 130rem;

  .heading {
    font-family: 'Unbounded';
    font-weight: 400;
    font-size: 48rem;
    line-height: 135%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 70rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 25rem;
  }

  .more-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1rem solid #0c0c0c;
    padding: 15rem 0rem;
    align-items: center;

    .more-item_l {
      display: flex;
      align-items: center;
    }

    .cube {
      width: 58rem;
      height: 58rem;
      margin-right: 15rem;
      background: black;
    }

    .name,
    .text,
    .link {
      font-family: $font-family;
      font-weight: 500;
      font-size: 20rem;
      line-height: 130%;
      color: #131313;
    }

    .text,
    .link {
      font-size: 16rem;
    }

    .text,
    .linl {

      font-weight: 400;
      font-size: 16rem;
      line-height: 150%;
      letter-spacing: -0.02em;
      color: #131313;
    }

  }
}

.keyses {
  position: relative;
  padding-bottom: 50rem;

  &.deal {
    .text {
      text-align: left;
    }
  }

  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 180rem 320rem;
    z-index: 2;
  }

  .text {
    font-family: 'Unbounded';
    position: relative;
    z-index: 2;
    text-align: right;
    width: 100%;
    display: block;
    width: fit-content;
    color: white;
    padding: 0 10rem;
    font-weight: 400;
    font-size: 48rem;
    line-height: 135%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
  }

  .bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    position: absolute;
    z-index: 1;
  }
}

.block {
  background: #131313;
  min-width: 100vw;
  position: relative;
  overflow: hidden;

  .icon {
    position: absolute;
    top: 23rem;
    left: 0;
  }

  &.white {
    background: white;

    .info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .container {
      width: calc(100vw - 120rem);
    }

    .heading {
      color: #131313;
      width: 100%;
      text-align: center;
    }

    .list {
      width: 400rem;

      .list-item {
        * {
          color: #131313;

        }

        &:hover,
        &.active {
          * {
            color: #0429FF;
          }
        }
      }
    }

    .regular-btn {
      color: #0429FF;
      width: 400rem;


      &:hover {
        color: #0429FF;
      }
    }

    .background {
      display: none;
    }



  }

  .img-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    align-items: center;
    gap: 46rem;
    max-width: 100%;
    margin-top: 130rem;

    * {
      width: 100%;
    }
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 210rem;
    position: relative;
    z-index: 2;
    margin: 0 60rem;
    width: fit-content;
  }

  .info {
    width: fit-content;
  }

  .heading {
    font-family: $third-family;
    font-weight: 400;
    font-size: 48rem;
    line-height: 135%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: white;
    width: fit-content;

  }

  .list {
    margin-top: 50rem;
    display: flex;
    flex-direction: column;
    gap: 15rem;
    width: fit-content;


    .list-item {
      width: fit-content;

      * {
        font-family: $font-family;
        width: fit-content;

        font-weight: 500;
        font-size: 20rem;
        line-height: 140%;
        color: white;
        display: flex;
        gap: 5rem;
        transition: all .2s ease;

      }

      span {
        opacity: 0;
        transform: translateX(-15rem);
        transition: all .2s ease;
      }

      &.active {
        * {

          color: #d6e129;
        }
      }

      &:hover {
        span {
          transform: translateX(0);
          opacity: 1;
        }

        * {
          color: #d6e129;
        }
      }
    }

  }

  .telegram-btn {
    font-family: $font-family;
    font-weight: 500;
    font-size: 20rem;
    line-height: 130%;
    text-transform: uppercase;
    color: #131313;
    padding: 15rem 25rem;
    border-radius: 5rem;
    background-color: white;
    width: fit-content;
    margin-top: 60rem;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;

    .video-block {
      width: 970rem;
      height: 100vh;
      position: absolute;
      right: 0;
      overflow: hidden;

      &.disable {
        video {
          display: block;
        }

        img {
          display: none;
        }
      }

      video {
        display: none;
      }

      img {
        z-index: 2;

      }
    }

    video,
    img {
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      min-height: 100%;
      min-width: 100%;
      object-fit: cover;
    }
  }

  .regular-btn {
    font-family: $font-family;
    font-weight: 500;
    font-size: 20rem;
    line-height: 140%;
    color: white;
    display: flex;
    gap: 10rem;
    margin-top: 25rem;
    transition: all .2s ease;
    color: #D6E129;


    span {
      opacity: 0;
      transform: translateX(-15rem);
      transition: all .2s ease;
    }

    &:hover {
      span {
        transform: translateX(0);
        opacity: 1;
      }

      color: #d6e129;
    }

  }

  .description {
    font-family: $font-family;
    font-size: 20rem;
    color: white;
    font-style: italic;
    font-weight: 300;
    line-height: 130%;
    margin-top: 50rem;
    max-width: 775rem;

    span {
      font-weight: 500;
      line-height: 140%;
    }
  }

}

footer {
  .logo {
    display: none;
  }

  background: #131313;
  padding-top: 40rem;

  ul {
    display: flex;
    flex-direction: column;
    gap: 15rem;
  }

  a {
    font-family: $font-family;
    font-weight: 500;
    font-size: 20rem;
    line-height: 140%;
    color: white;
    transition: all .4s ease;

    &:hover {
      color: #d6e129;
    }

    &.tg {
      font-weight: 400;
      font-size: 32rem;
      line-height: 130%;
      margin-top: 200rem;
      color: #d6e129;
    }

  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .footer-l {
    display: flex;
    gap: 160rem;

    .item {
      &:first-child {
        li {
          &:last-child {
            a {
              color: #9eff00;
            }
          }
        }
      }
    }
  }

  .footer-r {
    .item {
      display: flex;
      flex-direction: column;
      gap: 165rem;
    }
  }


  .container {
    &:first-child {
      display: flex;
      justify-content: space-between;
    }
  }

  .bg {
    width: 100%;
    margin-top: 60rem;
  }

}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background: #131313;
  z-index: 11;
  padding: 140rem 130rem 0;
  transform: translateX(100%);
  transition: all .4s ease;

  &.active {
    transform: translateX(0);
  }

  .menu-close {
    position: absolute;

    top: 20rem;
    right: 30rem;
    justify-content: flex-end;

    svg {
      width: 75rem;
      height: 75rem;
    }
  }

  .logo {
    height: 20rem;
    position: relative;

    img {
      height: 100%;
    }
  }

  .item {
    margin-top: 80rem;
    display: flex;
    flex-direction: column;
    gap: 40rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 15rem;
  }

  li {
    a {
      font-family: $font-family;
      font-weight: 500;
      font-size: 20rem;
      line-height: 140%;
      color: white;
    }
  }

  .telegram-btn {
    font-family: $font-family;
    font-weight: 500;
    font-size: 20rem;
    line-height: 130%;
    text-transform: uppercase;
    color: #131313;
    border-radius: 5rem;
    padding: 15rem 25rem;
    background: #d6e129;
    width: fit-content;
    margin-top: 40rem;
  }
}

.img-block {

  .mob {
    display: none;
  }

  .desk {
    display: block;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.keyses-page {
  .hero {
    min-height: auto;

    .container {
      padding-top: 130rem;

      .heading {
        font-family: 'Unbounded';
        font-weight: 400;
        font-size: 48rem;
        line-height: 135%;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #131313;
      }
    }
  }
}

.blog-heading {
  padding-top: 130rem;

  .heading {
    font-family: 'Unbounded';
    font-weight: 400;
    font-size: 48rem;
    line-height: 135%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 60rem;
  }

  .logo {
    display: none;
  }

  .categories-wrapper {
    display: flex;
    gap: 16rem 25rem;
    flex-wrap: wrap;
    width: 100%;

    .item {
      border-radius: 10rem;
      padding: 10rem;
      background: #f7f7f7;
      font-family: 'JetBrains Mono';
      font-weight: 400;
      font-size: 16rem;
      line-height: 150%;
      letter-spacing: -0.02em;
      text-align: center;
      color: #1a1f26;
    }
  }
}

.blog-text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 22rem;
  line-height: 130%;
  color: #131313;
  margin-bottom: 150rem;

  img {
    margin: 10rem 0;
  }

  .container {
    padding: 0 300rem;

    * {
      margin-bottom: 15rem;
      max-width: 100%;

    }

    h2 {
      font-family: $second-family;
      font-weight: 400;
      font-size: 32rem;
      line-height: 130%;
      color: #131313;
    }
  }
}

.keyses-page .hero {
  display: none;
}

@media (max-width: 1024px) {
  .keyses-page .hero {
    display: block;
  }

  .desk {
    display: none;
  }

  body,
  html {
    font-size: calc(100vw / 375);
  }

  .container {
    width: calc(100vw - 50rem);
    margin: 0 25rem;
  }

  header {
    .logo {
      height: 14rem;
    }

    .header-menu {
      width: 43rem;

      gap: 7rem;

      span {
        height: 3rem;
      }
    }
  }

  .h-scroll__sticky {
    position: relative;
    height: auto;
  }

  .h-scroll__content {
    display: block;
  }

  .h-scroll {
    height: auto;
  }

  .block {
    &:nth-child(odd) {
      background: #131313 !important;

      * {
        color: #f7f7f7 !important;
      }
    }

    &:nth-child(even) {
      background: #f7f7f7 !important;

      * {
        color: #131313 !important;
      }

    }

    &:first-child {
      padding-top: 100rem;

      .icon {
        display: block;
        top: -80rem;
      }


    }

    .icon {
      display: none;
    }

    .regular-btn {

      font-size: 20rem;
    }

    display: flex;
    flex-direction: column-reverse;

    &.white {
      .container {
        width: calc(100vw - 50rem);
        margin: 0 25rem;

      }

      .list,
      .regular-btn {
        width: 100%;
      }

      .background {
        display: block;
      }
    }


    .container {
      width: calc(100vw - 50rem);
      margin: 0 25rem;
      padding-top: 20rem;
      padding-bottom: 30rem;
    }

    .heading {
      font-weight: 400;
      font-size: 28rem;
      line-height: 130%;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #f7f7f7;
    }

    .list {
      gap: 10rem;

      .list-item {

        * {

          font-size: 16rem;
          line-height: 150%;

          letter-spacing: -0.02em;
        }
      }
    }


    .background {
      position: relative;
      height: auto;
      width: 100vw;
      padding: 25rem;

      video,
      img {
        position: relative;
        height: auto;
        width: 100%;
      }

    }

    .img-wrapper {
      display: none;
    }

    .description {

      font-size: 16rem;
    }

  }

  footer {
    padding-bottom: 20rem;



    .footer-l {
      flex-direction: column;
      gap: 40rem;
      margin-bottom: 40rem;
    }

    .container:first-child {
      gap: 40rem;
      flex-direction: column;
    }

    a {

      font-size: 16rem;

      &.tg {
        margin-top: 40rem;
        display: block;
        font-size: 16rem;
      }
    }

    .logo {
      width: 100%;
      margin-bottom: 40rem;
    }

    .footer-r .item {
      gap: 40rem;
    }

    .bg {
      display: none;
    }

  }

  .menu {
    height: 100vh;
    overflow-y: scroll;
    padding: 50rem 30rem 30rem;

    ul {
      gap: 24rem;
    }

    .logo {
      height: 14rem;
    }

    .menu-close {
      svg {
        width: 45rem;
        height: 45rem;

      }

    }
  }

  .text-block {
    .text-l {
      max-width: 100%;

      .heading {

        font-size: 22rem;
        line-height: 130%;
      }

      .item {
        .item_heading {

          font-size: 20rem;
          line-height: 140%;

          &::before {
            width: 18rem;
            height: 18rem;
          }
        }
      }
    }
  }

  .more-deal {
    background-color: #131313;

    .heading {

      font-weight: 400;
      font-size: 32rem;
      line-height: 130%;
      color: white;
    }

    .more-item {
      flex-direction: column;
      align-items: flex-start;
      border-bottom: 1rem solid white;

      .name,
      .text,
      .link {

        color: white;

      }


      .more-item_l {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 16rem;
        margin-bottom: 16rem;

      }

    }
  }

  .keyses {
    padding: 0;

    .container {
      width: 100%;
      margin: 0;
      padding: 220rem 0;
    }

    .text {
      font-size: 32rem;
    }
  }

  .img-block {
    .mob {
      display: flex;
      height: 450rem;
      width: 100%;
      overflow-x: scroll;
      gap: 15rem;
    }

    .desk {
      display: none;
    }

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }

  .keyses-page {
    .hero {
      padding-bottom: 40rem;
      background: #131313;

      .logo {
        display: block;
        margin-bottom: 40rem
      }

      .container {
        padding-top: 50rem;

        .heading {
          color: white;

          font-size: 32rem;
          line-height: 130%;
        }
      }
    }

  }

  footer .container {
    flex-direction: column;
    ;
  }

  .blog-heading {
    background: #131313;

    .logo {
      display: block;
      margin-bottom: 40rem;
    }

    .heading {

      font-weight: 400;
      font-size: 32rem;
      line-height: 130%;
      text-transform: uppercase;
      color: white;
    }
  }

  .blog-text {
    font-family: 'Inter Tight';
    font-weight: 400;
    font-size: 16rem;
    line-height: 130%;
    color: #131313;
    margin-bottom: 150rem;

    .container {
      padding: 0;

      * {
        margin-bottom: 15rem;
        max-width: 100%;
      }
    }
  }

  .more-deal .more-item .cube {
    width: 100%;
    height: auto;

  }

  .blog-text {
    display: none;
  }

  .keyses {
    padding-bottom: 20rem;
    background: #131313;
  }

  .keyses .text {
    text-align: center;
    font-size: 24rem;
  }

  .block .telegram-btn {
    color: #131313 !important;
  }

  .block.white .heading {
    text-align: left;
  }

  .text-block .text-l {
    padding-top: 25rem;
    padding-left: 0rem !important;
  }

  .text-block .text-l .item {
    margin-top: 25rem;
  }

  .text-block .text-l .heading {
    margin-bottom: 0;
  }
}
